[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytest-cov = "*"
flask = {extras = ["async"], version = "*"}
pytest-mock = "*"
httpx = "*"
pytest-httpx = "*"
flasgger = "*"

[dev-packages]
bandit = "*"

[requires]
python_version = "3.10"
